{% extends "./layout/mainLayout.njk" %}

{% block mainbody %}
    <form  method="post">
        {{forms.label("User", "user")}}
        {{forms.field("user")}}
        {{forms.label("Password", "password")}}
        {{forms.field("password")}}
        {{forms.submit("Login")}}
    </form>
{% endblock mainbody %}