{% import "../macros/student_views.njk" as student_views %}
{% import "../macros/form_macro.njk" as forms %}


<!DOCTYPE html>
<html>
    {% block header %}
    <head>
        <meta charser="UTF-8">
        <title>My MVC Example</title>
    </head>
    {% endblock header %}

    <body>
        {% block mainbody %}
            Main body missing
        {% endblock mainbody %}
        {% block footer %}
            <p>Made with Nunjuck</p>
        {% endblock footer %}
    </body>

    <script>
       
    </script>
</html>

